

<div class="container-fluid">
  <div class="row" style="background-color: #fff;
    width: 654px;
    height: 100%;
    position: absolute;
    left: 394px;
    top: 20px; border-style: solid; border-color: #000; border-width: 10px;">
   <div class="col-xl-12">ENTER DATAsds HERE.</div>
  </div>
</div>
<style type="text/css">
  html{
  background-color: #000000; 
  background-image: url("assets/bg-header.jpg");
}
</style>
